<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Website</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/general-style.css">
</head>

<body>
        <header>
            <div class="top-header">
                <div class="logo-nick" hx-get="/partial/htmx-home.html" hx-trigger="click" hx-target="#main-screen" hx-swap="outerHTML transition:true">
                    <span>Salokhiddinov</span>
                </div>
                <div class="desktop-pages">
                    <a hx-get="/partial/htmx-home.html" hx-trigger="click" hx-target="#main-screen" hx-swap="outerHTML transition:true">Home</a>
                    <a hx-get="/partial/htmx-works.html" hx-trigger="click" hx-target="#main-screen" hx-swap="outerHTML transition:true">Works</a>
                    <a hx-get="/partial/htmx-projects.html" hx-trigger="click" hx-target="#main-screen" hx-swap="outerHTML transition:true">Projects</a>
                    <a href="#">Wallpaper</a>
                    <a href="#">
                        <ion-icon name="logo-github"></ion-icon>
                        Source
                    </a>
                </div>
                <div class="buttons">
                    <div class="mode" id="themeSwitch">
                        <ion-icon name="sunny-outline"></ion-icon>
                    </div>
                    <div class="menu mobile-only">
                        <ion-icon name="menu-outline"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="pages">
                <a hx-get="/partial/htmx-home.html" hx-trigger="click" hx-target="#main-screen" hx-swap="outerHTML transition:true">Home</a>
                <a hx-get="/partial/htmx-works.html" hx-trigger="click" hx-target="#main-screen" hx-swap="outerHTML transition:true">Works</a>
                <a hx-get="/partial/htmx-projects.html" hx-trigger="click" hx-target="#main-screen" hx-swap="outerHTML transition:true">Projects</a>
                <a href="#">Wallpaper</a>
                <a href="#">
                    <ion-icon name="logo-github"></ion-icon>
                    Source
                </a>
            </div>
        </header>
        <main id="main-screen" hx-get="/partial/htmx-home.html" hx-trigger="load" hx-target="#main-screen" hx-swap="outerHTML transition:true">
           
        </main>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/htmx.org@2.0.4"></script>
<script src="./assets/scripts/main.js"></script>
</html>