
@font-face {
    font-family: ios;
    src: url(/assets/fonts/sf-pro-text.woff2);
}
:root {
    --fill-color:#ebebf0;
    --font-color:black;
    --icon-color:#fff;
    --mode-fill:rgb(175,82,222);
    --gray:rgb(72,72,74);
    --blue:rgb(0,122,255);
    --white:#fff;
    --fill-border:rgb(142,142,147);
    --transparent-fill:rgba(42,42,42,0.1);
    --btn-fill:rgba(0,0,0,0.078);
    --btn-text:rgb(0,122,255);
}
.dark-mode {
    --fill-color:#1d1d21;
    --font-color:#fff;
    --icon-color:rgb(42,42,46);
    --mode-fill:#fad28c;
    --gray:rgb(175, 175, 175);
    --blue:rgb(53, 141, 235);
    --white:#fff;
    --fill-border:rgb(142,142,147);
    --transparent-fill:rgba(255, 255, 255, 0.08);
    --btn-fill:rgb(0,122,255);
    --btn-text:#fff;
}
body {
    padding: 0;
    margin: 0;
    height: max-content;
    font-family: ios, sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: var(--fill-color);
    user-select: none;
    color: var(--font-color);
}
.mobile-only {
    display: none !important;
}
.window {
    width: 60.5%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:768px) {
    .window {
        width: 100%;
    }
    .informations {
        flex-direction: column;
        gap: 1rem !important;
    } 
    .mobile-only {
        display: inherit !important;
    }
}
ion-icon {
    font-size: 1.3rem;
    color:var(--icon-color);
    /* color: var(--fill-color); */

}
header .top-header {
    width: 100%;
    height: 3.1rem;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    box-sizing: border-box;
    backdrop-filter: blur(20px) saturate(180%);    
    border-bottom: 1px solid var(--fill-border);
    z-index: 1000;
    /* background-color: rgba(42,42,42,0.01); */
}
header {
    position: sticky;
    top:0;
}
.logo-nick {
    font-weight: 600;
    font-size: 1.6rem;
    user-select: none;
}
.logo-nick span {
    font-size: 1.35rem;
}
header .buttons .mode {
    background-color: var(--mode-fill);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 0.5s ease;
    /* cursor: pointer; */
}
header .buttons .mode:active {
    transform: scale(0.69);
}
header .buttons {
    display: flex;
    gap: 10px;
}
header .buttons .menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    /* cursor: pointer; */
}
header .buttons .menu ion-icon {
    font-size: 1.9rem;
    color: var(--gray);
}

main {
    background-color: var(--fill-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    gap: 1.9rem;
}
.glass-box {
    margin-top: 2rem;
    font-size: 1.25rem;
    background-color: var(--transparent-fill);
    border-radius: 10px;
    padding: 10px 16px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.text-center {
    text-align: center;
}
.informations {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5rem;
    padding-left: 15px;
    padding-right: 15px;
}
p,span,h6 {
    font-size: 1rem;
    margin: 0;
    word-wrap: break-word;
}
h2 {
    font-size: 1.4rem;
    margin: 0;
}
.informations .pfp img {
    /* width: 6.6rem; */
    /* height: 6.6rem; */
    border-radius: 360%;
    border:2px solid var(--white);
}
.about-work {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about-work p {
    text-indent: 1.5rem;
}
.btn {
    color: var(--btn-text);
    font-size: 1.2rem;
    padding: 10px 15px;
    text-align: center;
    margin: auto;
    background-color: var(--btn-fill);
    font-weight: 600;
    border-radius: 8px;
    /* cursor:; */
}
.btn a {
    text-decoration: none;
    cursor: default;
    color: var(--btn-text);
    display: flex;
    align-items: center;
    text-align: center;
}
.btn ion-icon {
    color: var(--btn-text);
    font-size: 1.4rem;
}
.static-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
}
.pt-1 {
    margin-top: 1rem;
}
.biography {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.year-data {
    display: flex;
    flex-direction: row;
    gap: 1rem;   
    padding-left: 2rem;
    padding-right: 2rem;
}
.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.links .link-item {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
a {
    text-decoration: none;
    font-weight: 550;
}
.text-blue a {
    color: var(--blue);
}
.text-blue ion-icon {
    color: var(--blue);
}
.break {
    margin:0.5rem;
    color:var(--fill-color);
}
header .top-header .mobile-pages {
    display: flex;
    gap: 1rem;
    align-items: center;
}
header .pages {
    display: flex;
    gap: 1rem;
    opacity: 0;
    z-index: 999;
    align-items: center;
}
header .pages a, .mobile-pages a {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--gray);
    z-index: 999;
}

header .pages a:hover,.mobile-pages a:hover {
    text-decoration: underline;
}
@media (max-width:1000px) {
    header .pages {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        gap: 1.5rem;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out; /* Correct transition duration */
        border-bottom: 1px solid var(--fill-border);
        backdrop-filter: blur(20px) saturate(180%); /* Removed extra parenthesis */
        box-sizing: border-box;
        z-index: 999;
    }
    header .pages.active {
        max-height: 900px;
        opacity: 1;
        padding: 1rem;
    }
    header .top-header .mobile-pages {
        display: none;
    }

    header .pages a {
        z-index: 999;
        color: var(--font-color);
        font-weight: 500;
        font-size: 1.25rem;
        padding: 0.5rem 1rem;
        cursor: default;
    }
    .mobile-only {
        display: inherit !important;
    }
}
.pages {
    transition: all 0.03s ease-in-out;
}
.made_by {
    color:var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}
.works-list {
    display: flex;
    gap: 2.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.works-list .work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    gap: 0.4rem;
    border-radius: 16px;
}
.works-list .work-item .work-title {
    font-weight: 600;
}
.works-list .work-item img {
    width: 15rem;
    border-radius: 12px;
}
.works-list .work-item a {
    transition: 0.1s;
    text-decoration: none;
    color:var(--font-color);
    text-align: center;
    cursor: default;
}
.works-list .work-item .description {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 1rem;
}
.tab-2 {
    padding:0.4rem 1rem;
}
.d-flex {
    display: flex;
    gap: 0.5rem;
}
.align-center {
    align-items: center;
}
.m-0 {
    margin: 0;    
}
.p-0 {
    padding: 0;
}
.paragraph {
    display: flex;
    flex-direction: column;
}
h4 {
    text-wrap: nowrap;
}