<main id="main-screen">
    <div class="glass-box text-center">
        <span>Hello, I'm solo web developer from Uzbekistan!</span>
    </div>
    <div class="informations">
        <div class="about">
            <h2>Qudratillo Salokhiddinov</h2>
            <p>(Programmer / Creator / Gamer)</p>
        </div>
        <div class="pfp">
            <img src="https://avatars.githubusercontent.com/u/102538175?v=4" width="100" height="100" alt="there was image">
        </div>
    </div>
    <div class="about-work">
        <h2>Work</h2>
        <p>Salokhiddinov is a FullStack programmer from Andijan who enjoys creating
            digital services. He likes to play chess. Currently, he is focused on promoting his own digital
            products and shares content on his YouTube channel, "Qudratillo Salokhiddinov," which has over 1000
            subscribers.</p>
        <div class="btn static-flex pt-1">
            <a hx-get="/partial/htmx-works.html" hx-trigger="click" hx-target="#main-screen" hx-swap="outerHTML transition:true">
                Work Gallery
            </a>
        </div>
    </div>
    <div class="paragraph">
        <h2>Tech Stack</h2>
        <div class="tab-2 d-flex align-center m-0">
            <h4>Back-end:</h4>
            <div class="glass-box m-0">
                <span>
                Python, Django, DRF
                </span>
            </div>
        </div>
        <div class="tab-2 d-flex align-center m-0">
            <h4>Front-end:</h4>
            <div class="glass-box m-0">
                <span>
                    HTML, HTMX, CSS, Js
                </span>
            </div>
        </div>
        <div class="tab-2 d-flex align-center m-0">
            <h4>Database:</h4>
            <div class="glass-box m-0">
                <span>
                    SQLite3, PostgreSQL, MySQL
                </span>
            </div>
        </div>
        <div class="tab-2 d-flex align-center m-0">
            <h4>Telegram Bot:</h4>
            <div class="glass-box m-0">
                <span>
                    PyTelegramBotApi (Webhook)
                </span>
            </div>
        </div>
        <div class="tab-2 d-flex align-center m-0">
            <h4>Desktop Apps:</h4>
            <div class="glass-box m-0">
                <span>
                    Python, Flet
                </span>
            </div>
        </div>
        <div class="tab-2 d-flex align-center m-0">
            <h4>Deployment:</h4>
            <div class="glass-box m-0">
                <span>
                    cPanel, Nginx
                </span>
            </div>
        </div>
        <div class="tab-2 d-flex align-center m-0">
            <h4>For Optimization:</h4>
            <div class="glass-box m-0">
                <span>
                    C++
                </span>
            </div>
        </div>
        
    </div>
    <div class="biography">
        <h2>Biography</h2>
        <div class="year-data">
            <h6>2006</h6>
            <p>Born in Andijan(Andijon), Uzbekistan.</p>
        </div>
        <div class="year-data">
            <h6>2020</h6>
            <p>Started learning programming by himself.</p>
        </div>
        <div class="year-data">
            <h6>2022</h6>
            <p>Completed "Back-end" course by IT-academy at the "Andijan Digital City" Technology park.</p>
        </div>
        <div class="year-data">
            <h6>Now</h6>
            <p>Student of Andijan State University, Faculty of IT information security</p>
        </div>

    </div>
    <div class="links">
        <h2>On the platforms</h2>
        <div>
            <div class="link-item text-blue">
                <ion-icon name="logo-github"></ion-icon>
                <a href="#">@navideveloper</a>
            </div>
            <div class="link-item text-blue">
                <ion-icon name="logo-instagram"></ion-icon>
                <a href="#">@qudratillosalokhiddinov</a>
            </div>
            <div class="link-item text-blue">
                <ion-icon name="logo-youtube"></ion-icon>
                <a href="#">@qudratillosalokhiddinov</a>
            </div>
        </div>
    </div>
    <div class="made_by">© 2025 Salokhiddinov Qudratillo</div>
</main>