<main id="main-screen">
    <h2 class="pt-1">My Works</h2>
    <div class="works-list">
        <div class="work-item">
            <a href="#work-url">
                <img src="http://salokhiddinov.pythonanywhere.com/media/works/otfiv.png" alt="">
                <div class="work-title">OTFIV-Andijon.uz</div>
                <div class="description">Ministry of Higher Education, Science and Innovation, Andijan</div>
            </a>
        </div>
        <div class="work-item">
            <a href="#work-url">
                <img src="http://salokhiddinov.pythonanywhere.com/media/works/confidence-16x9.jpg" alt="">
                <div class="work-title">OTFIV-Andijon.uz</div>
                <div class="description">Ministry of Higher Education, Science and Innovation, Andijan</div>
            </a>
        </div>
        <div class="work-item">
            <a href="#work-url">
                <img src="http://salokhiddinov.pythonanywhere.com/media/works/otfiv.png" alt="">
                <div class="work-title">OTFIV-Andijon.uz</div>
                <div class="description">Ministry of Higher Education, Science and Innovation, Andijan</div>
            </a>
        </div>

    </div>

    <div class="made_by">© 2025 Salokhiddinov Qudratillo</div>
</main>